/* ========================= */
/* Reset Styles              */
/* ========================= */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-family: "Cera Pro", sans-serif;
    list-style: none;
}

/* ========================= */
/* Font Face Definitions     */
/* ========================= */
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/Fontspring-DEMO-cerapro-black.otf') format('otf'),
    url('../fonts/Fontspring-DEMO-cerapro-blackitalic.otf') format('otf');
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/Fontspring-DEMO-cerapro-bold.otf') format('otf'),
    url('../fonts/Fontspring-DEMO-cerapro-bolditalic.otf') format('otf');
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/Fontspring-DEMO-cerapro-light.otf') format('otf'),
    url('../fonts/Fontspring-DEMO-cerapro-lightitalic.otf') format('otf');
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/Fontspring-DEMO-cerapro-medium.otf') format('otf'),
    url('../fonts/Fontspring-DEMO-cerapro-mediumitalic.otf') format('otf');
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/Fontspring-DEMO-cerapro-regular.otf') format('otf'),
    url('../fonts/Fontspring-DEMO-cerapro-regularitalic.otf') format('otf');
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/Fontspring-DEMO-cerapro-thin.otf') format('otf'),
    url('../fonts/Fontspring-DEMO-cerapro-thinitalic.otf') format('otf');
}

/* ========================= */
/* Container Styles          */
/* ========================= */
.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
}

/* ========================= */
/* Header Styles             */
/* ========================= */
header {
    padding-top: 30px;
}

/* ========================= */
/* Navigation Styles         */
/* ========================= */
header nav ul, .categories_products_block-right_short_by_left_nav ul {
    display: flex;
    gap: 50px;
}

header nav ul li, .categories_products_block-right_short_by_left_nav ul li {
    position: relative;
}


header nav ul li a, .categories_products_block-right_short_by_left_nav ul li a {
    font-weight: 400;
    color: #3d3d3d;
    line-height: 50px;
}

header nav ul li a:hover, .categories_products_block-right_short_by_left_nav ul li a:hover {
    font-weight: 700;
}

header nav ul li::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -7px;
    height: 2px;
    background-color: #46a358;
    opacity: 0;
    transform: translateY(5px);
    transition: opacity 0.3s, transform 0.3s linear;
}

header nav ul li:hover::after, .categories_products_block-right_short_by_left_nav ul li:hover::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #46a358;
    opacity: 1;
}

header nav ul li a::after, .categories_products_block-right_short_by_left_nav ul li a::after {
    display: block;
    content: attr(title);
    font-weight: 700;
    overflow: hidden;
    height: 0;
    transition: opacity 0.3s, transform 0.3s linear;
}

/* ========================= */
/* Login Container Styles    */
/* ========================= */
.container_login {
    display: flex;
    align-items: center;
    gap: 30px;
}

header .login {
    border-radius: 6px;
    background: #46a358;
    padding: 7px 17px;
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 16px;
    color: #fff;

    transition: 0.3s ease-in-out;
}

header .login svg {
    margin-right: 4px;
}

header .login:hover {
    background-color: rgb(60, 117, 30);
}

header .login:hover svg {
    stroke: #46a358;
}

/* ========================= */
/* Main Content Styles       */
/* ========================= */

main {
    max-width: 1200px;
    margin: auto;
}

.banner .container {
    padding: 0 0 0 40px;
    margin-bottom: 40px;
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
}

/* ========================= */
/* Article Styles            */
/* ========================= */
.container article h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    padding-bottom: 7px;
}

.container article h1 {
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
}

.container article h1 span {
    color: #46a358;
}

.container article p {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    padding-bottom: 44px;
}

.container article a {
    border-radius: 6px;
    background: #46a358;
    padding: 12px 20px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;

    transition: 0.3s ease-in-out;
}

.container article a:hover {
    background-color: rgb(60, 117, 30);
}

/* ========================= */
/* Categories Products Styles */
/* ========================= */

.categories_products {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-bottom: 90px;
}

.categories_products_block_left {
    padding: 14px 24px 0 30px;
    align-items: center;
    width: 310px;
    display: flex;
    flex-direction: column;
    gap: 23px;
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
}

.categories_products_block_left_categories li {
    display: flex;
    justify-content: space-between;
    gap: 120px;
}

.categories_products_block_left p {
    margin-left: -190px;
    font-weight: 600;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
}

.categories_products_block_left_categories {
    display: flex;
    flex-direction: column;
    gap: 23px;
    font-weight: 400;
    font-size: 15px;
    padding-bottom: 240px;

}

.categories_products_block_left_categories li a {
    display: inline-block;
    transition: 0.1s;
    width: 50px;
    color: #3d3d3d;
    white-space: nowrap;
}

.categories_products_block_left_categories li a:nth-child(1) {
    padding-right: 100px;
}

.categories_products_block_left_categories li a:hover, .categories_products_block-right_short_by_left_nav li a {
    content: "";
    color: #46a358;
    font-weight: 900;
}

/* ========================= */
/* Short By Section Styles    */
/* ========================= */
.categories_products_block-right_short_by {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.categories-products__item {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.categories-products__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    background-color: #46a358;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

.categories-products__item:hover::before {
    transform: translateY(0);
}

.categories_products_block-right_short_by_left_nav_link ul li a:root {
    --display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    --color: #ffffff;
    position: relative;

    transition: color .1s ease-in-out;
    font-weight: 400;
}

.categories_products_block-right_short_by_left_nav_link ul li a:after {
    content: "";
    width: 100px;
    height: 3px;
    display: none;

    background-color: #46a358;
    opacity: 0;

    position: absolute;
    top: calc(100% + 200px);
    left: 0;
    z-index: 3;
}


.categories_products_block-right_short_by_left_nav ul li a:hover {
    color: green;
}


.categories_products_block-right_short_by_left_nav ul li::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 7px;
    height: 2px;
    background-color: #46a358;
    opacity: 0;
    transform: translateY(5px);
    transition: opacity 0.3s, transform 0.3s linear;
}

.categories_products_block-right_short_by_left_nav ul li:hover::after {
    opacity: 1;
}

.categories_products_block-right_short_by_left_nav {
    position: relative;
    padding: 0;
    margin: 0;
    bottom: 16px;
}


.categories_products_block-right_short_by_right span {
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
}

.categories_products_block-right_short_by_right select {
    border: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
}

/* ========================= */
/* Products Block Styles     */
/* ========================= */

.categories_products_block-right_products {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
}

.categories_products_block-right_products_block {
    position: relative;
    transition: border-top 0.3s ease;
}

.icons-link {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -140px;
    left: 41%;
    transform: translateX(-50%);
    gap: 26px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.categories_products_block-right_products_block:hover .icons-link {
    opacity: 1;
}

.icons-link a {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    bottom: 190px;
    transition: .3s ease;
}

.icons-link a:hover {
    transform: scale(1.3);
}


.icons-link img {
    width: 100%;
    height: auto;
}

/* Дополнительные стили для изображения */
.categories_products_block-right_products_block img {
    display: block;
    width: 100%;
    height: auto;
}

.categories_products_block-right_products_block::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #46a358;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.categories_products_block-right_products_block:hover::before {
    opacity: 1;
}


.categories_products_block-right_products_block p:nth-child(3) {
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
}

.categories_products_block-right_products_block p:nth-child(2) {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
    padding-bottom: 6px;
}


/* ========================= */
/* Pagination Styles         */
/* ========================= */
.categories_products_pages {
    display: flex;
    justify-content: end;
    gap: 10px;
    padding-bottom: 150px;
}

.categories_products_pages li a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border-style: solid;
    border-color: #e5e5e5;
    border-width: 1px;
    padding: 10px;
    width: 35px;
    height: 35px;
}

.categories_products_pages li a:hover {
    content: "";
    background-color: #46a358;
    transition: 0.3s ease-in-out;
    color: #ffffff;
}

/* ========================= */
/* Mask Group Styles         */
/* ========================= */
.mask-group {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.mask-group-block {
    width: 585px;
    height: 250px;
    padding: 37px 30px 10px 0;
    background-color: #fbfbfb;
}


.mask-group-block p:nth-child(1) {
    font-weight: 900;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    color: #3d3d3d;
    padding-bottom: 9px;
}

.mask-group-block p:nth-child(2) {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    padding-bottom: 20px;
}

.mask-group-block a:nth-child(2){

}










